body {
  background-color: #ccc;
  font-family: Helvetica, Arial, sans-serif;
  background-image: url(../images/andras-vas-Bd7gNnWJBkU-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;
  
}

nav {
  color: white;
  text-transform: uppercase;
}

nav ul li {
  display: inline-block;
  border: solid 2px rgb(139, 66, 221);
  letter-spacing: 2px;
  padding: 5px;
  margin-right: 20px;
  font-size: 16px;
}

nav ul a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}

nav ul a:hover {
  color:rgb(141, 69, 209);
}


.log {
  width: 30%;
  height: 300px;
  margin: 0 auto;
  margin-top: 200px;
  box-sizing: border-box;
  padding-top: 20px;
}

.login-form {
  width: 50%;
  margin: auto; 
  color: white; 
}

.login {
  border: solid 2px rgb(141, 69, 209);
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.login legend {
  text-align: center;
  margin-bottom: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}

.username, .password {
  display: block;
  margin-bottom: 15px;
  font-size: 18px;
  letter-spacing: 2px;
}

.login-form input {
  display: block;
  background-color:#ccc;
  border: none;
}

.login-form input:focus {
  background-color: rgb(46, 43, 43);
  color: white;
}

#pass, #user {
  width: 100%;
  height: 25px;
  margin-bottom: 20px;
}

.btn {
  margin: auto;
  font-size: 18px;
  letter-spacing: 0.1em;
  color: rgb(31, 30, 30);
  transition: 0.6s;
}

.btn:hover {
  color: rgb(139, 66, 221);
  background-color: rgb(46, 43, 43);
  cursor: pointer;
}

.forgot-pass {
  width: 50%;
  margin: 0 auto;
  font-size: 14px;
  text-align: right;
  box-sizing: border-box;
  padding-right: 10px;
}

.forgot-pass a {
  color: white; 
  text-decoration: none;
  transition: color 0.5s;
}

.forgot-pass a:hover {
  color: rgb(139, 66, 221);
}

.footer {
  font-size: 16px;
  width: 100%;
  margin-top: 350px;
  padding-left: 40px;
  box-sizing: border-box;
  color: white;
  letter-spacing: .1em;
}

.footer a {
  color:rgb(139, 66, 221);
  text-decoration: none;
  transition: color 0.5s;
}

.footer a:hover {
  background-color: rgba(139, 66, 221, .4);
}